

body{
    height: 100vh;
}


ol{
    list-style-type: none;
    padding: 0;
}

ol li {
    cursor: pointer;
    background: rgb(240, 227, 227);
    padding: 8px;
    border-bottom: 1px solid gray;
}

ol li:hover{
    opacity: 0.7;
}

ol li.expense{
    border-left: 10px solid red;
}

ol li.income{
    border-left: 10px solid green;
}

p{
    margin: 4px 0;
}