body{
    background: linear-gradient(rgba(156, 174, 163, 1.2), rgba(225, 232, 228, 0.7)), 
    url('../images/laboratorio.jpg') center/cover no-repeat;
    background-size: 100%; /* Ajuste o valor para dimensionar a imagem */
    height: 100vh;
}

form{
    width: 300px;
    position: absolute;
}

input{
    border: none;
}

button{
   cursor: pointer;
  
}

.sair_register{
    background: transparent;
    border: none;
    color: rgb(9, 27, 11);
    position: relative;
    top: -160px;
    left: 150px;
}